[Unit]
Description=gunicorn daemon for CFA
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/path/to/your/cfa_ai_app/backend
ExecStart=/path/to/your/env/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          cfa_backend.wsgi:application

[Install]
WantedBy=multi-user.target
